@import 'normolize'
@import 'elements'
@import 'header'

.main
    color: #fff
    position: relative
    z-index: 1
    padding: 77px 0
    margin-bottom: 32px
    .container
        max-width: 800px
        margin: 0 auto

    p
        margin-bottom: 32px

    &-title
        max-width: 500px
        margin: 0 auto

    &-img
        margin: 30px auto
        max-width: 350px
        width: 84%
        img
            display: block
            width: 100%

    .btn
        width: 100%

    &__bg
        position: absolute
        top: 0
        left: 0
        z-index: -111
        width: 100%
        height: 100%
        object-fit: cover
        pointer-events: none

.how
    .container
        max-width: 400px

    h2
        margin-bottom: 12px

    &-img
        width: 65%
        max-width: 250px
        margin: 0 auto 24px
        img
            display: block
            width: 100%

.card
    .btn
        width: 100%
        font-size: 20px
    .container
        max-width: 550px

    &-left
        margin-bottom: 12px

    &-img
        img
            width: 100%
            height: 100%
            border-radius: 10px
            margin-bottom: 12px
        &__item
            display: none
            aspect-ratio: 1/1

            &.active
                display: block

    &-nav
        flex-wrap: nowrap
        &__item
            width: 23%
            aspect-ratio: 1/1

        img
            display: block
            width: 100%
            height: 100%
            border-radius: 8px

    &__heading
        font-size: 20px
        color: $black
        margin-bottom: 12px

    &__price
        font-size: 20px
        font-weight: 700
        margin-bottom: 12px
        color: #B4B4B4
        b
            color: $black

    &__subheading
        margin-bottom: 24px

@import 'itsSlider'

.products
    overflow: hidden
    text-align: center
    &-slider

    .container
        padding: 0

.product
    display: inline-block
    vertical-align: middle
    // margin: 10px
    width: 265px
    max-width: 100%
    position: relative
    z-index: 1
    text-align: center
    text-decoration: none
    color: $black
    &__tag
        display: inline-block
        text-align: center
        padding: 4px 4px 3px 22px
        background-repeat: no-repeat
        background-position: center left 4px
        background-size: 14px auto
        background-image: url('../img/money-tag.svg')
        font-size: 12px
        color: #F6F6F6
        border-radius: 6px
        background-color: $black
        position: absolute
        top: 8px
        left: 8px
        text-transform: uppercase
    &__img
        display: block
        width: 100%
        aspect-ratio: 1/1
        border-radius: 10px
        margin: 0 0 16px

    &__heading
        font-size: 16px
        font-weight: 700
        margin: 0 0 4px

    &__price
        font-size: 16px
        font-style: normal
        font-weight: 700
        color: #B4B4B4
        strong, b
            color: $black
            margin-right: 6px

.faq
    h2
        text-align: center

.dropdown
    max-width: 708px
    margin: 0 auto 10px
    padding: 0 16px
    border-bottom: 2px solid #B4B4B4
    &__btn
        padding: 16px 28px 16px 0
        width: 100%
        text-align: left
        display: block
        color: $black
        position: relative
        font-size: 14px
        font-weight: bold
        &::after
            width: 16px
            height: 16px
            font-weight: normal
            line-height: 16px
            font-size: 29px
            position: absolute
            right: 0
            top: 50%
            margin-top: -8px
            content: '+'
            display: inline-block
            text-align: center
            transition: all .4s ease

        &.active
            &::after
                content: '–'
                transform: rotate(180deg)

    &-content
        padding: 0
        overflow: hidden

        opacity: 0
        max-height: 0
        visibility: hidden
        transition: all ease .4s
        &.active
            opacity: 1
            visibility: visible
            max-height: 500px
            padding: 0 0 16px

.review
    width: 46.67%
    display: inline-block
    background: #FFF
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)
    &__img
        display: block
        width: 100%
        aspect-ratio: 4/5
        object-fit: cover

    &-content
        padding: 8px 12px

    &__heading
        font-size: 12px

    &__text
        font-size: 10px

    &__rating
        display: block
        width: 100px
        margin: 8px 0

    &-footer
        border-top: 2px solid #B4B4B4
        padding: 12px
        line-height: 115%
        flex-wrap: nowrap
        justify-content: flex-start
        font-size: 8px
        gap: 4px
        img
            min-width: 24px
            width: 24px
            width: 24px
            display: block

.reviews
    h2
        color: $black
        font-size: 20px
        img
            width: 180px
            margin: 0
            display: inline-block
            vertical-align: middle

        span
            display: inline-block
            vertical-align: middle

    &-wrap
        gap: 20px 0
        margin-bottom: 64px

    &-info
        text-align: center
        &__item
            width: 100%
            max-width: 330px
            margin: 0 auto 24px
            font-size: 16px
            img
                display: block
                width: 54px
                height: 54px
                border-radius: 50%
                margin: 0 auto 12px

.purchase,
.present,
.modal
    @media screen and ( max-width: 1000px )
        display: none

@media screen and ( min-width: 600px )
    .dropdown
        &__btn
            font-size: 16px

    .reviews
        &-wrap
            justify-content: flex-start
            gap: 20px 3.5%
            margin-bottom: 120px

    .review
        width: 31%

@media screen and ( min-width: 1000px )
    .main
        min-height: 500px
        height: 100vh
        max-height: 1180px
        padding: 120px 0 40px
        display: flex
        margin-bottom: 100px
        .container
            max-width: 1120px
            flex-direction: row-reverse

        &-title
            max-width: calc( 100% - 530px )

        &-img
            max-width: 500px
            margin: 0

        p
            font-size: 24px

        .btn
            width: unset

    .how
        .container
            flex-direction: row-reverse
            max-width: 1120px
        p
            font-size: 20px

        &-img
            max-width: 381px

    .card
        &-left,
        &-right
            width: 49%
        .container
            max-width: 1120px

        &__heading
            font-size: 32px
        &__price
            font-size: 20px
        &__subheading
            font-size: 12px

        &-nav
            &__item
                &:hover
                    transform: scale(1.05)

        .btn
            font-size: 24px

    .reviews
        &-wrap
            justify-content: flex-start
            gap: 20px 1.76%

    .review
        width: 23.67%
        &-content
            padding: 12px 16px
        &__heading
            font-size: 16px
        &__rating
            margin: 8px 0
            width: 100px
        &__text
            font-size: 16px
        &-footer
            padding: 12px 15px 12px 16px
            font-size: 16px
            gap: 8px
            img
                width: 48px
                height: 48px

    .product
        &:hover
            transform: translateY(-10px)

    .purchase
        width: 403px
        position: fixed
        bottom: 40px
        left: 10%
        z-index: 999
        border-radius: 10px
        background: #FFF
        border: 1px solid #eee
        padding: 12px 56px 12px 24px
        flex-wrap: nowrap
        gap: 16px
        visibility: hidden
        opacity: 0
        transform: translateY(100px)
        transition: all ease .4s
        &-img
            width: 96px
            height: 96px
            border-radius: 8px

        &__text
            margin: 8px 0

        &__time
            color: $prime

        &__close
            position: absolute
            width: 20px
            height: 20px
            line-height: 20px
            background-color: #373F47B2
            color: white
            border-radius: 50%
            font-size: 20px
            top: 17px
            right: 24px

        &.active
            visibility: visible
            opacity: 1
            transform: translateY(0)

    .present
        visibility: hidden
        opacity: 0
        transform: translateY(100px)
        transition: all ease .4s
        position: fixed
        z-index: 999
        bottom: 40px
        right: 10%
        width: 128px
        height: 128px
        border: 1px solid #eee
        text-align: center
        border-radius: 50%
        background: #F6F6F6
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)
        img
            width: 60%
            pointer-events: none
            display: block
            margin: 0 auto
            animation: shake 5s ease infinite

        &.active
            visibility: visible
            opacity: 1
            transform: translateY(0)

    @import 'modal'

    @keyframes shake
        0%
            transform: translate(0,0)
        1.78571% 
            transform: translate(5px,0)
        3.57143% 
            transform: translate(0,0)
        5.35714% 
            transform: translate(5px,0)
        7.14286% 
            transform: translate(0,0)
        8.92857% 
            transform: translate(5px,0)
        10.71429% 
            transform: translate(0,0)
        100%
            transform: translate(0,0)

@import 'footer'
